#tab{
    display: flex;
    flex-direction: row;
    border: 2px;
}

#container{
    width: 200px;
    height: 200px;
}

img{
    width: 200px;
    height: 200px;
}

#desc{
    display: flex;
    flex-direction: column;
}