*{
    font-family: Andika;
}

body{
    background-color: #1d1b1b;
    color: #dcdcdc;
    min-width: 200px;
}

header{
    margin: 10px 150px 10px 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#logo{
    border: none;
    max-width: 250px;
}

#query{
    display: flex;
    align-items: center;    
    margin-left: 50px;
    text-decoration: none;
}

#input_query{
    font-size: 15px;
    background-color: #2d2d2d;
    border: 3px solid #da4141;
    outline: none;
    color: #dcdcdc;
    border-radius: 25px;
    padding: 0px 10px 0px 10px;
    width: 850px;
    max-width: calc(100vw - 500px);
    min-width: 50px;
    height: 40px;
}

#input_query:focus{
    box-shadow: 0 0 50px 5px #da4141;
}

#submit_query{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    background-color: #da4141;
    color: #dcdcdc;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin: 10px 0px 10px 0px;
    background-color: #da4141;
    color: #dcdcdc;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    border: none;
    padding: 8px;
    padding-bottom: 11px;
    font-size: 17px;
}

button:hover, #btn_select:hover{
    cursor: pointer;
    background-color: #f74d4d;
}

button:active, #submit_query:active, #btn_select:active{
    background-color: #a12a2a;
    border: none;
}

#search_logo{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    border: none;
}

#result{
    margin: 30px 50px 30px 50px;
}

#tab{
    display: flex;
    flex-direction: row;
    margin: 10px calc(50vw - 900px) 10px calc(50vw - 900px);
    background-color: #2d2d2d;
    border-radius: 15px;
    align-items: center;
}

.container{
    margin: 10px;
    max-width: 180px;
    height: 100%;
    display: flex;
    justify-content: center;
}

img{
    max-height: 100%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 4px;
    border-style: solid;
    border-color: #da4141;
}

#desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px 10px 30px;
}

#title{
    font-size: 35px;
    font-style: oblique;
}

#btn_select{
    margin: 10px 0px 10px 0px;
    background-color: #da4141;
    color: #dcdcdc;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    border: none;
    padding: 8px;
    padding-bottom: 11px;
    font-size: 17px;
}

#type{
    font-size: 21px;
}

a{
    color: #dcdcdc;
    text-decoration: none;
}

footer{
    text-align: center;
    font-size: 15px;
    margin-top: 100px;
}

@media only screen and (max-width: 1820px){
    #tab{
        margin: 10px;
    }
}

@media only screen and (max-width: 1550px){
    header{
        margin: 10px 60px 10px 60px;
    }

    #logo{
        max-width: 200px;
    }

    #input_query{
        width: 1000px;
    }
}

@media only screen and (max-width: 720px) {
    header{
        flex-direction: column;
    }

    #query{
        margin: 25px 0px 25px 0px;
    }

    #input_query{
        max-width: 500px;
        width: 850px;
        max-width: calc(100vw - 180px);
        min-width: 50px;
    }

    #result{
        margin: 20px;
    }

    #tab{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #desc{
        align-items: center;
    }
}

@media only screen and (max-width: 400px) {
    #logo{
        min-width: 200px;
    }
    
    #container{
        width: 108px;
    }

    img{
        min-width: 108px;
    }

    #search_logo{
        min-width: 0;
    }

    #title{
        font-size: 21px;
    }

    #type{
        font-size: 12.6px;
    }

    button{
        font-size: 12px;
        padding: 6px;
    }
}